body {
  margin:0;
  background:#222;
  color:white;
  font-family:Arial;
}

#ui {
  text-align:center;
  margin:10px;
}

#ui input, #ui button {
  margin:2px;
  padding:5px;
}

canvas {
  display:block;
  margin:0 auto;
  background:#333;
}
